#container {
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    font-size: 110px;
    font-family: 'Jost', sans-serif;
    

}

.intro{
    font-size: 25px;
    color: #ffffff;
    font-family: 'Jost', sans-serif;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 50px;
}
.symbol{
    padding-top: 0px;
    padding-bottom:25px;
    font-size: 110px;
    color: rgb(164, 144, 120);
    width: 1000px;
    text-align: center;
}
.women{
    color:rgb(186, 41, 164);
}
.in,.more{
    color: rgb(51, 178, 216);
}
.tech{
    color:rgb(98, 232, 98);
}

html{
    font-family: 'Jost', sans-serif;
}

h1,h2{
    color: white;
    font-size: 50px;
}
p{
    font-size: 25px;
    color: white;
}

body {
    width: auto;
    background-color: rgb(101, 64, 64);
    padding: 0 0px 90px 0px;
    text-align: center;
    flex-direction: column;
    min-height: 100vh;
     }
}
.findmore {
    font-size: 30px;
    color: white;
    padding-top: 500px;
    
}
.boxed {
    font-size: 30px;
    background-color: rgb(121, 105, 105);
    border-radius: 10px;
    padding: 6px 20px 10px 20px;
    margin: 260px;
  }

#carouselExampleControls 

.footer {
    display: flex;  
    justify-content: center;  
    background-color: #666;
    height: 100px;
    padding: 20px;
    padding-top: 40px;
  }
  
.footer a {
    margin: 5px;
    text-decoration: none!important;
    padding-top: 400px;
  }
  
.social-icon {
    display: inline-flex; 
    width: 50px;
    height: 50px;
    color: #666;
    background-color: white;
    justify-content: center;  
    align-items: center; 
    border-radius: 50%; 
  }
  